<p>Welcome <%= @bike.email %>!</p>
	<h3> Vender bicicleta Registration Details</h3>
		Preço de venda: <%= @bike.selling_price %><br>
		Access Code: <%= @bike.access_code %>

<p> Thank You !!! </p>



