<%= render "shared/header" %>

<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li><a href="/acesso-da-loja">Acesso da Loja</a></li>
		<li class="active">Esqueceu a Senha?</li>
	</ol>

	<div class="row">

		<!-- Article main content -->
		<article class="col-xs-12 maincontent">
			<header class="page-header">
				<h1 class="page-title">Esqueceu a Senha?</h1>
			</header>

			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 class="thin text-center">Recupere seu acesso</h3>
						<p class="text-center text-muted">Informe seu e-mail para recuperar sua senha.</p>
						<hr>

						<form>

							<div class="top-margin">
								<label>E-mail <span class="text-danger">*</span></label>
								<input type="text" class="form-control">
							</div>
							<hr>
							<div class="row">
								<div class="col-lg-8">
									<b><a href="/acesso-da-loja">Acessar conta</a></b>
								</div>
								<div class="col-lg-4 text-right">
									<button class="btn btn-success" type="submit">ENVIAR</button>
								</div>
							</div>

						</form>

					</div>
				</div>

			</div>

		</article><!-- /Article -->

	</div>
</div>	<!-- /container -->
