<p>Welcome <%= @access_code.email %>!</p>

<h3>New AccessCode</h3>

	<p><b>Access Code:</b><%= @access_code.access_code %></p>

<p><i>You can Access Bicicleta with new generated access code</i></p>

<p><b><i> Thank You !!! </i></b></p>

