<p>Welcome <%= @contact.email %>!</p>
<h3> Contact Details</h3>

<p><b>Nome:</b> <%= @contact.name %></p>
<p><b>Telefone:</b><%= @contact.phone_number %></p>
<p><b>Message:</b><%= @contact.description %></p>
<br/>


<p><b>Thank You !!!</b></p>


