<%= render "shared/header" %>
<div class="container">
  <ol class="breadcrumb">
  	<h3 style="color:green">Sua loja foi cadastrada com sucesso! Sua conta será ativada após aprovação por nossa equipe!!</h3>
  </ol>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br>