<!-- footer -->
<footer id="footer" class="top-space">
    <div class="footer2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a title="Consultar Bicicleta" href="/">Consultar Bicicleta</a> |
                            <a title="Sobre" href="/sobre">Sobre</a> |
                            <a title="Contato" href="/contato">Contato</a> |
                            <a title="Acesso da Loja" href="/acesso-da-loja">Acesso da Loja</a> |
                            <a title="Termos de Uso" href="/termos-de-uso">Termos de Uso</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2015 ORBLabel
                        </p>
                    </div>
                </div>
            </div> <!-- /row of widgets -->
        </div>
    </div>
</footer>
<!-- /footer -->
